<div id="welcome" class="w-75 detail m-auto">
  <p style='text-align: center;'>
    <%= link_to image_tag('logo.png'), tasks_path %>
  </p>
  <h1 style='text-align: center;'>
    メンテナンス中
  </h1>
</div>
