<div class="container_admin_users">
  <% content_for(:title, I18n.t('admin.users.edit.title')) %>
  <h1><%= I18n.t('admin.users.edit.title') %></h1>
  <hr>
  <div id="user_edit">
    <%= render partial: 'form', locals: { user: @user, authority: @authority, type: I18n.t('admin.users.edit.btn_update') } %>
  </div>
  <hr>
  <%= link_to I18n.t('admin.footer.index'), admin_users_path %>
</div>
