<div class="container">
  <%= render 'shared/error_messages', model: @task %>
  <h1><%= @task.project.project_name %><%= I18n.t('tasks.new.title') %></h1>

  <%= render 'form', task: @task, users: @users, project: @task.project %>
</div>
