/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tasks
 *= require_tree .
 */

/* バリデーションのエラーメッセージが出るときに改行されないようにする */
.field_with_errors {
  display: inline;
}

/* formのsubmitボタンのcssをOFF */
button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}

* {
  font-family: "ヒラギノ角ゴ Pro", "游ゴシック体";
}

/* pagenation css */
.page-link {          
  color: #696969;   
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
}

.page-link:hover {
  background: #f1f1f1;
}

.pagination>.active>.page-link {     
  background: #aaaaaa;     
  border-radius: 2px;     
}

.pagination {
  text-align: center;
}
