/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

tr {
  background-color: #FFF;
  transition: background-color 1s;
}
tr:hover{
  background-color: #CFF;
  transition: background-color 1s;
}
h1 {
  padding: 0.25em 0.5em;
  border-left: solid 5px #CFF;
}
.new-task {
  margin: 0 0 0 auto;
}
.task-index-headline {
  display: inline-block;
}
.logout {
  float: right;
}
.admin-user {
  float: right;
}
.task-paginate {
  display: inline-block;
}
