@import "bootstrap";

.new-task {
  margin: 0 0 0 auto;
}
.task-index-headline {
  display: inline-block;
}
.task-paginate {
  display: inline-block;
}
.logout {
  float: right;
}
.admin-user {
  float: right;
}
