<div class="container">
  <table>
      <thead>
        <tr>
          <th><%= t '.user_name' %></th>
        </tr>
        <tr>
          <th><%= @current_user.name %></th>
        </tr>
          <%= button_to t('.logout'), logout_path, method: :delete, class: 'btn btn-outline-primary'  %>
      </thead>
  </table>
</div>
