<h1><%= t '.page_title' %></h1>

<%= render partial: 'form' %>

<%= link_to t('.show'), @task, class: "btn btn-primary" %>
<%= link_to t('.back'), tasks_path(@task), class: "btn btn-outline-secondary" %>
