<div class="container">
  <h1><%= I18n.t('tasks.edit.page_title') %></h1>

  <%= render partial: 'form' %>

  <%= link_to I18n.t('tasks.edit.show'), user_task_path(@current_user), class: 'btn btn-outline-primary' %>
  <%= link_to I18n.t('tasks.edit.back'), user_tasks_path(@current_user), class: 'btn btn-outline-primary' %>
</div>
