<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_task'), 'tasks/new' %>
