<div class="container">
  <h2><%= I18n.t('tasks.new.page_title') %></h2>

  <%= render partial: 'form' %>

  <%= link_to I18n.t('tasks.new.back'), root_path, class: 'btn btn-outline-primary' %>
</div>
