<h1>タスク詳細</h1>
<p>
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: name  %>
<% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @task.description %>

</p>

<%= link_to 'Back', root_path  %>
