// Place all the styles related to the tasks controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'bootstrap/dist/css/bootstrap';

table#task{
  thead {
    tr{
      background-color: deepskyblue;
    }
  }

}

.required:after {
  content: " *";
  color: #ff0000;
}

.btn-form {
  display: inline !important;
}

.label-input{
  z-index: 100;
  position: relative;
  top: 0;
  right: 0;
}

.label-input-inner{
  position: absolute;
  z-index: 101;
  background-color: lightgray;

}

.label-badge-del{
  background-color: #222;
  a {
    margin: 2px;
    color: #fff;
  }
}

.btn-invisible {
  background: transparent;
  border: none !important;
  font-size:0;
}