.container_tasks {
  table {
    border-collapse: collapse;
  }

  thead, tbody {
    display: block;
  }

  tbody {
    height: 270px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #search_word {
    width: 230px;
    margin-top: 5px;
  }

  #task_detail {
    height: 180px;
  }

  #task_new {
    height: 220px;
  }

  #task_edit {
    height: 220px;
  }

  tbody::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  tbody::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  tbody tr:hover td {
    background: #ccffff;
  }

  th, td {
    background-color: #ffffff;
    border: 1px solid #ffcc66;
    padding: 0 8px;
  }

  thead th {
    background-color: #fff5e5;
    border: 1px solid #ffcc66;
    color: #ff9900;
    text-align: center;
  }

  th.no, td.no {
    width: 45px;
    text-align: center;
  }

  th.name, td.name {
    width: 250px;
  }

  th.details, td.details {
    width: 200px;
  }

  th.deadline, td.deadline {
    width: 170px;
  }

  th.priority, td.priority {
    width: 70px;
    text-align: center;
  }

  th.status, td.status {
    width: 100px;
    text-align: center;
  }

  th.edit, td.edit {
    width: 80px;
    text-align: center;
  }

  th.delete, td.delete {
    width: 70px;
    text-align: center;
  }

  th.creation_date, td.creation_date {
    width: 180px;
  }

  input#deadline {
    width: 150px;
  }
}
