scss:
  .task-edit{
    margin-left: 20px;
  }

- provide(:title, "タスク編集")
.col-9
  = render  "layouts/flash"
  .task-edit
    .row.index-title
      h2 タスク編集
    .row
      .task-edit-form.mx-auto.mt-3.mb-3.border.border-dark.p-5
        = form_with(model: @task, local: true) do |f|
          .form-group
            = f.label :title, class: 'form-label'
            = f.text_field :title, class: 'form-control'
          .form-group
            = f.label :status, class: 'form-label'
            = f.select :status, options_for_select(Task.statuses.map{|k, v| [Task.statuses_i18n[k], k]}, @task.status), {}, {class: 'form-control'}
          .form-group
            = f.label :priority, class: 'form-label'
            = f.number_field :priority, class: 'form-control', min: 1
          .form-group
            = f.label :deadline, class: 'form-label'
            br
            = f.datetime_select :deadline
          .form-group
            = f.label :description, class: 'form-label'
            = f.text_area :description, class: 'form-control'
          .form-group
            = f.submit '編集', class:'btn btn-warning'

javascript:

  // 日付の入力制限

  var today = new Date();

  var select_year = document.getElementById('task_deadline_1i');
  var select_month = document.getElementById('task_deadline_2i');
  var select_day = document.getElementById('task_deadline_3i');
  var select_hours = document.getElementById('task_deadline_4i');
  var select_minutes = document.getElementById('task_deadline_5i');

  var select_date = new Date(`${select_year.value}`, `${select_month.value - 1}`,
  `${select_day.value}`, `${select_hours.value}`, `${select_minutes.value}`);

  function set_datetime(year, month, day, hours, minutes){
    return new Date(`${year}`, `${month - 1}`, `${day}`, `${hours}`, `${minutes}`);
  }

  select_year.onchange = function(){
    select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);

    if(select_date < today){
      select_year.value = today.getFullYear();
      select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);
      alert("過去の年は入力できません。");
    }
  }

  select_month.onchange = function(){
    select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);
    if(select_date < today){
      select_month.value = today.getMonth() + 1;
      select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);
      alert("過去の月は入力できません。");
    }
  }

  select_day.onchange = function(){
    select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);

    if(select_date < today){
      select_day.value = today.getDate();
      select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);
      alert("過去の日にちは入力できません。");
    }
  }

  select_hours.onchange = function(){
    select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);

    if(select_date < today){
      select_hours.value = today.getHours();
      select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);
      alert("過去の時間は入力できません。");
    }
  }

  select_minutes.onchange = function(){
    select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);
    
    if(select_date < today){
      select_minutes.value = today.getMinutes();
      select_date = set_datetime(select_year.value, select_month.value, select_day.value, select_hours.value, select_minutes.value);
      alert("過去の分は入力できません。");
    }
  }
