<h1><%= I18n.t('projects.index.title') %><h1>
<p><%= link_to I18n.t('projects.index.new'), new_project_path %></p>

<% @status_list.each do |status| %>
  <div class = "pj_status">
    <p><%= Project.human_attribute_name(status.to_sym) %></p>
    <% @projects.where(status: status.to_sym).each do |project| %>
      <%= render partial: "project_info", locals: {project: project} %>
    <% end %>
  </div>
  <br>
<% end %>

