<h1 ><%= I18n.t('projects.index.title') %> 
<span class="badge badge-secondary"><%= link_to I18n.t('projects.index.new'), new_project_path %></div></h1>

<% @status_list.each do |status| %>
  <div class = "pj_status">
    <p><%= Project.human_attribute_name(status.to_sym) %></p>
    <% @projects.where(status: status.to_sym).each do |project| %>
      <p><%= render partial: "project_info", locals: {project: project} %></p>
    <% end %>
  </div>
  <br>
<% end %>

