<% if current_page.first? %>
  <li class="page-item disabled">
<%else%>
  <li class="page-item">
<%end%>
  <%= link_to raw(t 'views.pagination.first'), url, remote: remote, class: 'page-link' %>
</li>
