<div class="container">
  <%= render 'shared/error_messages', model: @user %>
  <h1><%= I18n.t('users.edit.title') %></h1>

  <%= render 'form', user: @user %>
    <div class="col-auto">
      <%= link_to I18n.t('projects.back'), projects_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
