<div id="welcome" class="w-75 detail m-auto">
  <p style='text-align: center;'>
    <%= image_tag 'logo.png' %>
    <%= image_tag 'detail.png' %>
  </p>
  <p style='text-align: center;'>
    <%= link_to '新規登録', '/users', class: 'btn btn-secondary m-auto' %>
  </p>
</div>
