<div class='container'>
  <h1><%= I18n.t('labels.title.new') %></h1>
  <%= link_to I18n.t('labels.link.index'), labels_path, class: 'btn btn-info' %>
  <%= render partial: 'form', locals: { label: @label } %>
</div>
