<!DOCTYPE html>
<html>
<head>
  <title>サーバに問題が発生しました。(500)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>サーバに問題が発生しました。</h1>
    </div>
    <p>If you are the application owner check the logs for more information.</p>
  </div>
</body>
</html>
