// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search_field div.border {
   padding : 15px;
}

.col div.button_center {
    margin-top : 24px;
 }

.pj_description {
    margin-top: 15px;
    margin-bottom: 15px;
}