// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.search_field div.border {
   padding : 15px;
}

.col div.button_center {
    margin-top : 24px;
 }

.pj_description {
    margin-top: 15px;
    margin-bottom: 15px;
}

.label_checkbox {
    padding: 5px;
}

.label_checkbox label {
    margin: 5px;
}

.col div.label_checkbox {
    overflow-x: scroll;
    padding-bottom: 15px;
}

.task_table {
    .table > tbody {
        .scroll_td{
            overflow-x: scroll;
        }
    }
}
