<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">404</span>
          <div class="mb-4 lead">指定されたページは見つかりません。</div>
          <%= link_to I18n.t('tasks.link.index'), tasks_path, class: 'btn btn-default btn-lg' %>
        </div>
    </div>
</div>
