<h1>Task Detail Page</h1>
<section>
  <p>名前：<%=@task.name%></p>
  <p>詳細：<%=@task.description%></p>
</section>
<section>
  <div><%= link_to '編集', edit_task_path(@task) %></div>
  <div><%= link_to '一覧に戻る', tasks_path %></div>
</section>
