body{ 
  padding-top: 80px;
}


/*サイドバーの設定*/
ul{
  list-style: none;
}
.container-fluid{
  .row{
    .col-2{
      min-height: 100vh;
      .sidebar_fixed{
        position: sticky;
        top: 110px;
      }
    }
  }
}
