// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*タスク詳細画面*/
.show-page th{
  width: 200px;
}

/*タスク新規作成画面*/
.new-task-registration{
  margin-left: 20px;
}

/*タスク編集画面*/
.task-edit{
  margin-left: 20px;
}
