<% content_for(:title, I18n.t('tasks.new.title')) %>
<div class="container_tasks">
  <h1><%= I18n.t('tasks.new.title') %></h1>
  <hr>
  <div id="task_new">
    <%= render partial: 'form', locals: { task: @task, type: I18n.t('tasks.new.btn_registration') } %>
  </div>
  <hr>
  <%= link_to I18n.t('tasks.footer.index'), tasks_path %>
</div>
